
@media screen and (max-width: 600px) {
  .header {
    background: none;
  }

  .navbar button {
    display: none;
  }

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
}

.logo {
  justify-content: center;
  height: 400px;
  width: auto;
  padding: 20px;
}

.nav-logo {
  height: 50px;
  width: auto;
}

nav {
  width: 100%;
}

.navbar a:hover {
  color: darkgray;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 0 10px;
}

#champs {
  justify-content: center;
}

h2 {
  text-align: center;
}

.card {
  margin-bottom: 20px;
}

td {
  height: 90px;
  width: 100px;
}

footer {
  background: black;
  color: white;
  height: 80px;
}

p {
  padding: 20px;
  font-size: 20px;
}
